<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/941864/pexels-photo-941864.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);">
  <div class="container">
    <h1>Welcome to the Anonymous Bar!</h1>
    <p>The best cocktails</p>
  </div>
</div>

<div class="container viewheight">

  <div class="d-flex justify-content-center">
  <%= link_to "<button class='btn-2'> Add a cocktail !</button>".html_safe, new_cocktail_path, :class => "button" %>
  </div>

  <div class="cards">
  <% @cocktails.each do |cocktail| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url(https://source.unsplash.com/featured/?drinks,<%=cocktail.name%>);">

  <%= link_to cocktail.name, cocktail, :class => "decoration" %>
      </div>
  <% end %>
  </div>
</div>
</div>
<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon Batch #296
  </div>
